<span class="relative inline-flex">
  <a
    href="https://flinksoftware.homerun.co/java-devops-engineer/nl"
    target="_blank"
    class="focus-visible:outline-primary inline-flex items-center gap-x-1.5 rounded-md bg-green-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
    {{ include.text }}
    <svg class="-mr-0.5 size-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <title>(Opent in een nieuw tabblad)</title>
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
    </svg>
  </a>
  <span class="absolute right-0 top-0 -mr-1 -mt-1 flex size-3">
    <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-red-500 opacity-75"></span>
    <span class="relative inline-flex size-3 rounded-full bg-red-600"></span>
  </span>
</span>
