<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="overflow-hidden bg-blue-50 sm:rounded-3xl">
      <div class="px-6 py-16 sm:p-8 lg:py-20 xl:gap-x-20 xl:px-20">
        <div class="mx-auto lg:flex lg:items-center lg:justify-between lg:px-8">
          <div class="max-w-xl">
            <h2 class="font-display text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
              NLJUG Businesspartner
            </h2>
            <p class="mt-6 text-lg/8 text-gray-600">
              Als Businesspartner van NLJUG horen we bij de beste Java softwarebedrijven van Nederland.
            </p>
          </div>
          <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:shrink-0">
            <img class="h-50" src="/img/nljug.webp" alt="Trotse Businesspartner van NLJUG" width="200" height="200" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
